.catcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  width: 18rem;
  display: flex;
  flex-direction: column;
}

.catcards > .card > .card-img-top {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  object-position: top;
}
.card-body {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}
.card {
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-0.3rem);
}
footer {
  padding: 0 10%;
}
